<!DOCTYPE html>
<html>
<head>
	<title>问卷调查</title>
	<script src="js/jquery-3.6.0.min.js"></script>
	<script src="js/scale.js"></script>
	<!-- for-mobile-apps -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
	<meta name="keywords" content="Feedback Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<!-- //for-mobile-apps -->
	<link href='//fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<link href="css/questionnaire_style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="content">
	<h1>Epworth嗜睡量表</h1>
	<div class="main">
        <h5> 
            <span>
                在下列情况下你打瞌睡（不仅仅是感到疲倦）的可能如何？这是指你最近几个月的通常情况。
                给下列每种情况选出最适当的数字，从每行中选一个最符合你情况的数字。
                0=从不打瞌睡  1=轻度可能打瞌睡   2=中度可能打瞌睡 3=很可能打瞌睡
            </span> 
        </h5>		
        <form id="ess" action="/jmp_to_scale_ess" method="post">
			<h5>坐着阅读书刊</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>看电视</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>在公共场合坐着不动(如在剧院/电影院或开会时)</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>乘坐汽车超过1小时，中间不休息</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>环境许可，在下午躺下休息</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>坐下与人谈话</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>午餐未喝酒，餐后安静地坐着</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>遇堵车时停车数分钟</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7" checked="">
									<i></i>0
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>1
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>2
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>3
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>	
			<input type="submit" value="下一项" onclick="ess(); this.form.submit(); return false;">
		</form>
	</div>
</div>
</body>
</html>
