<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>欢迎</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script src="js/jquery-3.6.0.min.js"></script>
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/login_style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">
</head>

<body>
    <div class="w3l-signinform">
        <div class="wrapper">
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h1>欢迎</h1>
                    <h2>账号登录</h2>
                    <form action="/login" method="POST" enctype="multipart/form-data">
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" id="phone" name="phone_number" placeholder="手机号" required pattern="1([0-9]{10})">
                        </div>
                        <div class="input-group two-groop" >
                            <span><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="text" id="password" name="verification_code" placeholder="验证码" required pattern="[0-9]{6}">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="登录" 
                               onclick="this.form.submit(); return false;">
                    </form>
                    <button 
                            class="btn btn-primary btn-block" id="verification_code_btn"
                            onclick="send_verification_code(phone.value); return false;" type="button">获取验证码
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var phone = document.getElementById("phone");
    phone.addEventListener("invalid", function (e) { phone.setCustomValidity("请输入正确的手机号码!"); });

    var code = document.getElementById("password");
    code.addEventListener("invalid", function (e) { code.setCustomValidity("请输入6位数字验证码!"); });
    
    function count_down() {
        var button = document.getElementById("verification_code_btn");
        button.disabled = true;
        var time = 60;
        var timer = setInterval(function() {
            button.innerHTML = time + "秒后重新获取";
            time--;
            if (time == 0) {
                clearInterval(timer);
                button.disabled = false;
                button.innerHTML = "获取验证码";
            }
        }, 1000);
    }

    function send_verification_code(phone) {
        if (document.getElementById('phone').checkValidity()) {
            $.get("get_verification_code?phone_number="+phone, function(data) {
                count_down();           
            }).fail(function() {
                alert("请检查网络连接！");
            });
        } else {
            alert('请输入正确的手机号码!');
        }
    }
</script>

</html>
