<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>欢迎！</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="css/login_style.css" type="text/css" media="all" />
    <!--//Style-CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css" media="all">
</head>

<body>
    <div class="w3l-signinform">
        <!-- container -->
        <div class="wrapper">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h1>欢迎</h1>
<!--                    <p class="sub-para">没想好写啥</p>-->
                    <h2>账号登录</h2>
                    <form action="#" method="post">
                        <div class="input-group">
                            <span><i class="fa fa-user" aria-hidden="true"></i></span>
                            <input type="text" 
                                    id="phone"
                                    placeholder="手机号" 
                                    required=""
                                    minlength=11
                                    maxlength=11 
                                    onblur="if(!(/1\d{10}/.test(this.value))) {alert('手机号输入有误！');}"
                            >
                        </div>
                        <div class="input-group two-groop" >
                            <span><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input 
                                    type="text"
                                    id="password"
                                    placeholder="验证码" 
                                    required=""
                                    maxlength=6
                            >
                        </div>
                        <button 
                                class="btn btn-primary btn-block"
                                onclick="test_condition(phone.value); return false;" 
                                type="submit">登录
                        </button>
                        <button 
                                class="btn btn-primary btn-block"
                                id="verification_code_btn"
                                onclick="send_verification_code(phone.value); return false;"
                                type="button">获取验证码
                        </button>
                        <button
                                class="btn btn-primary btn-block"
                                onclick="window.location.href = '/worker.html'; return false;"
                                type="button">工作人员登录
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/login.js"></script>
