<!DOCTYPE html>
<html>
<head>
    <title>问卷调查</title>
	<script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/scale.js"></script>
    <!-- for-mobile-apps -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="keywords" content="Feedback Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //for-mobile-apps -->
    <link href='//fonts.googleapis.com/css?family=Amaranth:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Josefin+Slab:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href="css/questionnaire_style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="content">
	<h1>抑郁自评量表（SDS）</h1>
	<div class="main">
		<h5> 
			<span>本量表包含 20 个项目，分为 4 级评分，为保证调查结果的准确性，务请您
				仔细阅读以下内容，根据最近一星期的情况如实回答。
			</span> 
		</h5>	
		<h5>
			填写说明<br/>
			<span>
				A 没有或很少时间；<br/>B 小部分时间；<br/>C 相当多时间；<br/>D 绝大部分或全部时间。<br/>
			</span>
		</h5>
		<form id="sds">
			<h5>我觉得闷闷不乐,情绪低沉</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio"> 
								<label>
									<input type="radio" name="radio">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我觉得一天之中早晨最好</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio1"> 
								<label>
									<input type="radio" name="radio1">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我一阵阵哭出来或想哭</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio2"> 
								<label>
									<input type="radio" name="radio2">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我晚上睡眠不好</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio3"> 
								<label>
									<input type="radio" name="radio3">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我吃得跟平常一样多</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio4"> 
								<label>
									<input type="radio" name="radio4">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我与异性密切接触时和以往一样感到愉快</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio5"> 
								<label>
									<input type="radio" name="radio5">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我发觉我的体重在下降</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio6"> 
								<label>
									<input type="radio" name="radio6">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我有便秘的苦恼</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio7"> 
								<label>
									<input type="radio" name="radio7">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我心跳比平时快</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio8"> 
								<label>
									<input type="radio" name="radio8" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio8"> 
								<label>
									<input type="radio" name="radio8">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio8"> 
								<label>
									<input type="radio" name="radio8">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio8"> 
								<label>
									<input type="radio" name="radio8">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我无缘无故地感到疲乏</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio9"> 
								<label>
									<input type="radio" name="radio9" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio9"> 
								<label>
									<input type="radio" name="radio9">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio9"> 
								<label>
									<input type="radio" name="radio9">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio9"> 
								<label>
									<input type="radio" name="radio9">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我的头脑跟平常一样清楚</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio10"> 
								<label>
									<input type="radio" name="radio10" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio10"> 
								<label>
									<input type="radio" name="radio10">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio10"> 
								<label>
									<input type="radio" name="radio10">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio10"> 
								<label>
									<input type="radio" name="radio10">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我觉得经常做的事情并没困难</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio11"> 
								<label>
									<input type="radio" name="radio11" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio11"> 
								<label>
									<input type="radio" name="radio11">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio11"> 
								<label>
									<input type="radio" name="radio11">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio11"> 
								<label>
									<input type="radio" name="radio11">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我觉得不安而平静不下来</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio12"> 
								<label>
									<input type="radio" name="radio12" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio12"> 
								<label>
									<input type="radio" name="radio12">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio12"> 
								<label>
									<input type="radio" name="radio12">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio12"> 
								<label>
									<input type="radio" name="radio12">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我对将来抱有希望</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio13"> 
								<label>
									<input type="radio" name="radio13" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio13"> 
								<label>
									<input type="radio" name="radio13">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio13"> 
								<label>
									<input type="radio" name="radio13">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio13"> 
								<label>
									<input type="radio" name="radio13">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我比平常容易生气激动</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio14"> 
								<label>
									<input type="radio" name="radio14" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio14"> 
								<label>
									<input type="radio" name="radio14">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio14"> 
								<label>
									<input type="radio" name="radio14">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio14"> 
								<label>
									<input type="radio" name="radio14">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我觉得作出决定是容易的</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio15"> 
								<label>
									<input type="radio" name="radio15" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio15"> 
								<label>
									<input type="radio" name="radio15">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio15"> 
								<label>
									<input type="radio" name="radio15">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio15"> 
								<label>
									<input type="radio" name="radio15">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
		<h5>我觉得自己是个有用的人，有人需要我</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio16"> 
								<label>
									<input type="radio" name="radio16" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio16"> 
								<label>
									<input type="radio" name="radio16">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio16"> 
								<label>
									<input type="radio" name="radio16">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio16"> 
								<label>
									<input type="radio" name="radio16">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我的生活过得很有意思</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio17"> 
								<label>
									<input type="radio" name="radio17" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio17"> 
								<label>
									<input type="radio" name="radio17">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio17"> 
								<label>
									<input type="radio" name="radio17">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio17"> 
								<label>
									<input type="radio" name="radio17">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>我认为如果我死了别人会生活得更好些</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio18"> 
								<label>
									<input type="radio" name="radio18" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio18"> 
								<label>
									<input type="radio" name="radio18">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio18"> 
								<label>
									<input type="radio" name="radio18">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio18"> 
								<label>
									<input type="radio" name="radio18">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<h5>平常感兴趣的事我仍然照样感兴趣</h5>
			<div class="radio-btns">
					<div class="swit">								
						<div class="check_box_one"> 
							<div class="radio19"> 
								<label>
									<input type="radio" name="radio19" checked="">
									<i></i>A
								</label> 
							</div>
						</div>
                        <div class="check_box"> 
							<div class="radio19"> 
								<label>
									<input type="radio" name="radio19">
									<i></i>B
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio19"> 
								<label>
									<input type="radio" name="radio19">
									<i></i>C
								</label> 
							</div>
						</div>
						<div class="check_box"> 
							<div class="radio19"> 
								<label>
									<input type="radio" name="radio19">
									<i></i>D
								</label> 
							</div>
						</div>
						<div class="clear"></div>
					</div>
			</div>
			<input type="submit" value="下一项" onclick="sds(); return false;">
		</form>
	</div>
</div>
</body>
</html>
